/*

begin header buttons add

License       : < https://tinyurl.com/s872fb68 >

Version       : 0.8.0

SS Version    : 7.1

Fluid
Engine
Compatible    : Not Applicable

Dependencies  : LESS

Note          : on mobile at 575px and below the orientation is forced to
column

By            : Thomas Creedon < http://www.tomsWeb.consulting/ >

*/

:root {
    --gap: 0.5rem;
}


/*
 CUSTOM FONT
 */
@font-face {
    font-family: 'Alternate Gothic No2 D';
    src: url("https://cdn.jsdelivr.net/gh/phasjim/studioverso@main/fonts/alternate-gothic-web/Alternate%20Gothic%20No2%20D%20Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: alternate-gothic-condensed-a;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gesta";
    src: url("https://cdn.jsdelivr.net/gh/phasjim/studioverso@main/fonts/gesta-web/gesta.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* */
/* Using the same font family for all headings (h1-h6) */
h1 {
    font-family: 'alternate-gothic-condensed-a', 'Arial Narrow', sans-serif, !important;
}
h2, h3, h4, h5, h6 {
    font-family: 'Alternate Gothic No2 D', 'Arial Narrow', sans-serif, !important;
}

/* Using the same font family for paragraph, large and small text elements, and buttons */
p,
.sqsrte-large,
.sqsrte-small,
.sqs-block-button-element,
li,
label,
span,
a,
blockquote,
cite,
figcaption,
pre,
code,
kbd,
samp,
strong,
em,
dt,
dd {
    font-family: "Gesta", Helvetica, Arial, sans-serif !important;
}

/* Additional elements that might need the font settings */
input,
textarea,
button,
select,
option,
legend,
fieldset,
.caption-text {
    font-family: "Gesta", Helvetica, Arial, sans-serif !important;
}


/* Specific text containers or utility classes that require the font */
.navbar, .footer, .sidebar, .text-small, .text-large {
    font-family: "Gesta", Helvetica, Arial, sans-serif;
}

/* Ensure links also carry the custom font */
a {
    font-family: "Gesta", Helvetica, Arial, sans-serif;
}


/*space between buttons*/

/*

direction-order controls whether buttons will be oriented in a row or column
and if they will be in normal or reversed order. the first argument can be
row or column, the second argument can be normal or reverse.

*/

/*.direction-order ( row, reverse );*/

/* do not change anything below, there be the borg here*/

#siteWrapper .header .header-actions-action--cta .sqs-button-element--primary {

    align-self: center;

}

/*.header .header-actions-action--cta,
.header-menu-cta {

    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;

    -webkit-box-orient : @d3;
    -webkit-box-direction : @d2;
    -ms-flex-direction : @d1;
    flex-direction : @d1;

    grid-gap : var(--gap);
    gap : var(--gap);

}*/

/*desktop*/

.header .header-actions-action--cta {
    text-align: center;
    margin-left: 10px;
}

@media only screen and (pointer: coarse) and (max-width: 1024px) {
    .header .header-actions-action--cta {
        display: none;
    }
}

@media only screen and (max-width: 799px) {
    .header .header-actions-action--cta {
        display: none;
    }
}

/*
 begin mobile
 */

.header-menu-cta {
    justify-content: center;
}

.header-menu-cta a {
    margin-left: auto;
    margin-right: auto;
}

/*@media screen and ( max-width: 575px ) {

    .header-menu-cta {

        -webkit-box-orient: @d6;
        -webkit-box-direction: @d5;
        -ms-flex-direction: @d4;
        flex-direction: @d4;

    }

}*/


/* end mobile

 begin direction mixins

 begin desktop

 direction row, normal*/
/*
.direction-order ( @d, @o ) when ( @d = row ) and ( @o = normal ) {

    @d1 : row;
    @d2 : normal;
    @d3 : horizontal;

}

!* direction row, reverse*!

.direction-order ( @d, @o ) when ( @d = row ) and ( @o = reverse ) {

    @d1 : row-reverse;
    @d2 : reverse;
    @d3 : horizontal;

}

!* direction column, normal*!

.direction-order ( @d, @o ) when ( @d = column ) and ( @o = normal ) {

    @d1 : column;
    @d2 : normal;
    @d3 : vertical;

}

 !*direction column, reverse*!

.direction-order ( @d, @o ) when ( @d = column ) and ( @o = reverse ) {

    @d1 : column-reverse;
    @d2 : reverse;
    @d3 : vertical;

}
!*
end desktop

mobile

direction column, normal*!

.direction-order ( @d, @o ) when ( @o = normal ) {

    @d4 : column;
    @d5 : normal;
    @d6 : vertical;

}

!*
// direction column, reverse
*!

.direction-order ( @d, @o ) when ( @o = reverse ) {

    @d4 : column-reverse;
    @d5 : reverse;
    @d6 : vertical;

}*/


/*/ end direction mixins

// end header buttons add

//hamburger menu*/
/*//.header-burger { display:flex!important}
//.header--menu-open .header-menu {opacity: 1!important;visibility: visible!important;}
//.header-nav, .header-actions {visibility:hidden!important}*/

.visible-on-editing {
    display: none;
}

.editing-page .visible-on-editing {
    display: initial;
}

/***********
 Vibe Slider
************/

.vibe-slider {
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.editing-page .vibe-slider img {
    width: 200px;
}

.vibe-slider .owl-nav {
    text-align: right;
}

.vibe-slider .owl-nav .owl-next {
    background: none;
    margin-left: 5px;
    position: absolute;
    top: 50%;
    right: -50px;
    margin: 0;
    margin-top: -20px;
    display: flex;
    align-items: revert;
    padding: 5px;
    box-sizing: border-box;
    border: unset;
}

.vibe-slider .owl-dots {
    display: none;
}

.vibe-slider .owl-nav .owl-next svg {
    height: 25px;
}

.vibe-slider .owl-nav .owl-prev {
    display: none;
}

/******
Header
******/

.header-announcement-bar-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}

.header-nav {
    display: none;
}

.header-burger {
    display: flex;
}

.header--menu-open .header-menu {
    visibility: visible;
    opacity: 1;
}

.header-burger {
    order: 1;
}

.header-actions--left {
    order: 2;
    padding-left: 20px;
}

.header-title-nav-wrapper {
    order: 3;
}

.header-actions--right {
    order: 4;
}

.header-menu-nav-folder {
    text-align: left;
}

.header-menu-nav-folder .header-menu-actions {
    justify-content: left;
    padding-left: 5%;
}

.header-menu-nav-folder .header-menu-cta {
    justify-conetnt: left !Important;
}

.header-menu-nav-folder .theme-btn--primary {
    margin: 0 5%;
}

.header-menu-nav-folder .header-menu-cta a {
    max-width: 200px
}

.out-dd-slider {
    overflow-x: hidden;
    padding: 40px 0;
}

.out-dd-slider .owl-nav button {
    width: 20px;
    background-color: transparent;
    border: unset;
    position: absolute;
    top: 50%;
    color: #fff;
    z-index: 99;
    font-size: 60px;
    padding: 0;
    left: 20px;
    margin-top: -35px;
    display: none;
}

.out-dd-slider .owl-nav button.owl-next {
    right: 20px;
    left: unset;
}

.out-dd-slider .owl-dots {
    display: none;
}

.dd-slider.owl-carousel .owl-stage-outer {
    overflow: unset;
}

.dd-slider .item {
    border: 0px solid #333;
    transition: 0.25s all ease-in-out;
    transform: scale(1.01);
    position: relative;
}

.dd-slider .item:hover {
    transform: scale(1.15);
    z-index: 9;
    box-shadow: 0 0 12px 0px rgba(0, 0, 0, .25);
}

.concept-slide-image {
    width: 100%;
    position: relative;
    padding-bottom: 125%;
}

.concept-slide-img {
    height: 100%;
    width: 100%;
}

.concept-slide-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.concept-slide-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overlay-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.concept-slide-text {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #fff;
    text-transform: uppercase;
    max-width: 75%;
    width: 100%;
}

.concept-slide-title {
    width: 85%;
    height: 38px;
    display: block;
    position: absolute;
    left: 20px;
    bottom: 20px;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.concept-slide-title > span {
    font-size: 3.25em;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    font-family: "Agency FB";
}

.concept-page-no {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #fff;
}

body .header-menu-nav {
    background-image: url("https://images.squarespace-cdn.com/content/659ffd5acc33bf3dd5158e2d/17957c2d-60ca-498a-a68f-7c396979b47d/SV-Hamburger-Menu-O%CC%84.png");
    background-color: #121627;
    background-size: 29%;
    background-repeat: no-repeat;
    background-position: bottom;
}

@media screen and (max-width: 768px) {
    .dd-slider .item:hover {
        transform: scale(1);
        z-index: 1;
    }

    .dd-slider .active .item {
        transform: scale(1.15);
        transform-origin: left;
        z-index: 9;
    }

    .dd-slider .active + .active .item {
        transform: scale(1);
        z-index: 1;
    }

    .out-dd-slider .owl-nav button {
        display: block;
    }

    .out-dd-slider .owl-nav .owl-prev {
        display: none;
    }
}


.instructors-inner img {
    width: 100%;
    height: 465px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.instructors-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.instructors-single {
    width: 32%;
    position: relative;
    margin-bottom: 40px;
}

.instructors-content .button + .button {
    background: #ddd;
}

.instructors-single {
    transition: 0.5s
}

.instructors-single:hover {
    transform: scale(1.05)
}

.instructors-content {
    position: absolute;
    bottom: 0;
    padding: 30px;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    width: 100%;
}

.instructors-content h3 {
    margin: 0 0 10px;
    padding: 0 20px;
    color: #fff;
    font-size: 20px;
}

.tab-instructors {
    padding: 0;
    text-align: center;
    margin-bottom: 50px;
}

.tab-instructors li {
    list-style: none;
    display: inline-block;
    padding: 0;
}

.tab-instructors li a:hover, .tab-instructors li.current a {
    border: 2px solid;
}

.tab-instructors li a {
    padding: 5px 8px;
    border-radius: 3px;
    display: block;
    border: 2px solid #fff;
}

.slideSingle img {
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

body .header-menu-actions-action {
    margin: 0;
}

body .header-menu-nav-folder .header-menu-actions {
    justify-content: left;
    padding-left: 0;
    margin-bottom: 40px;
}

/*
body .header-menu-nav-folder  a.btn:hover:before {
opacity: 1;
left: 60%;
}*/
body .header-menu-nav-folder a.btn {
    background: #fff !important;
    color: #000 !important;
    border-radius: 0;
}

body .header-menu-nav-folder a.btn {
    background: #fff !important;
    color: #000 !important;
}

/*
body .header-menu-nav-folder a.btn:before {
content: "";
width: 50%;
height: 1px;
background-color: #ddd;
position: absolute;
top: 50%;
margin-top: -1px;
left: -70%;
opacity: 0;
-webkit-transition: all 1s;
transition: all 1s;
}
*/
body .header-menu-nav-folder .header-menu-cta {
    display: flex;
    justify-content: left;
    margin-bottom: 80px;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 65px;
}

body .header-menu-nav-folder .header-menu-cta .theme-btn--primary {
    margin: 0 !important;
}

body .header-menu-nav-folder .header-menu-cta a {
    margin-right: 20px !important;
    background: transparent !important;
    color: #e9e9e9 !important;
    border: 1px solid #e9e9e9 !important;
}

body .header-menu-nav-folder .header-menu-cta a:not(:first-child) {
    margin-left: 10px;
}

body .slideSingle {
    position: relative;
    min-height: 550px;
    height: calc(100vh - 90px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header-menu-nav {
    background: #121627;
}

.header-menu-controls-control span,
body .header-menu-nav a:not(.btn), body .header-menu-nav-item a {
    color: #fff !important
}

.firstNew-outer-content {
    position: absolute;
    max-width: 800px;
    color: #E9E9E9;
    text-align: center;
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
}

.firstNew-outer-content a {
    color: #333847;
    background: #E9E9E9;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    border: 2px solid #E9E9E9;
    transition: 0.5s;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    max-width: 292px;
    width: 100%;
    font-size: 16px;
    letter-spacing: 3.65px;
    font-weight: bold;
}

.firstNew-outer-content a:hover {
    background: transparent;
    color: #fff;
}

.firstNew-outer p {
    font-size: 20px;
    margin: 0 0 20px;
    letter-spacing: 0.02px;
}

.firstNew-outer h2 {
    font-size: 70px;
    text-transform: uppercase;
    margin: 0;
    color: #E9E9E9;
    font-weight: 500;
}

.slideSingle-bookmarks {
    position: absolute;
    border: 0;
    bottom: 20px;
    z-index: 9;
    left: 0;
    right: 0;
}

.firstNew-outer {
    position: relative;
    height: 100%;
    background-color: #141625;
}

ul.slideSingle-test {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.slideSingle-test li {
    list-style: none;
    padding: 16px 36px;
    border: 1px solid #E9E9E9;
    color: #E9E9E9 !important;
    font-size: 22px;
    cursor: pointer;
}

.slideSingle-test li:last-child{
    margin-left: 20px;
}

.slideSingle-test li.active {
    border-color: #fff;
    color: #fff;
}

ul.slideSingle-test li span {
    display: block;
    color: #fff;
    width: 100%;
    margin-top: 20px;
}

body .header-menu-nav a:not(.btn),
body .header-menu-nav-item a {
    font-size: 24px;
    display: inline-block;
    margin: 30px 0 0px 50px;
    font-weight: 400;
}

body .instructors-content {
    padding: 20px 0 0;
    display: flex;
    flex-wrap: wrap;
}

.instructors-content .button {
    padding: 15px;
    text-transform: uppercase;
    width: 50%;
    box-sizing: border-box;
    position: absolute;
    opacity: 0;
    left: -9999px;
    transition: 0.5s;
    text-align: center;
    background: #fff;
    color: #000 !important;
}

.instructors-single:hover .instructors-content .button {
    position: static;
    opacity: 1;
}

.instructors-content span {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    padding: 0 20px;
}

.instructors-content .button:hover {
    background-color: rgba(0, 0, 0, .7) !important;
    color: #fff !important;
}

.instructors-inner .instaFollow {
    width: auto;
    height: auto;
    top: 20px;
    position: absolute;
    right: 20px;
    opacity: 0;
    transition: 0.5s;
}

.instructors-inner .instaFollow .instaFollowimg {
    width: auto;
    height: auto;
}

.instructors-single:hover .instaFollow {
    opacity: 1;
}

.header-actions-action a.btn,
.user-accounts-text-link {
    background: transparent;
    color: #000 !important;
    padding: 0 !important;
    font-weight: bold !important;
    border-radius: 0;
    font-size: 16px !important;
    position: relative;
}

.header {
    overflow: hidden
}

.header-actions-action a.btn {
    border-right: 1px solid #000 !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.header-actions-action a.btn:last-child {
    border-right: none !important;
}

body .header-menu-nav-item .header-menu-nav-item-content::before,
.header-actions-action a.btn:before,
.user-accounts-text-link span:before {
    content: "";
    width: 50%;
    height: 1px;
    background-color: #333;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: -70%;
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.header-actions-action a.btn:nth-child(2):before {
    content: "";
    width: 50%;
    height: 1px;
    background-color: #212226;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: -70%;
    left: unset;
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
}

body .header-menu-nav-item a:hover .header-menu-nav-item-content:before,
.header-actions-action a.btn:hover:before,
.user-accounts-text-link span:hover:before {
    opacity: 1;
    left: 5px !important;
}

body .header-menu-nav-wrapper .header-menu-nav-item a:hover .header-menu-nav-item-content:before {
    background: #e9e9e9 !important;
}

.header-actions-action a.btn:nth-child(2):hover:before {
    opacity: 1;
    right: 60%;
    left: unset;
}

@media screen and (max-width: 1023px) {
    .instructors-single {
        width: 48%;
    }

    .firstNew-outer h2 {
        font-size: 40px;
        line-height: 1.5;
    }

    .slideSingle-test li {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .instructors-single {
        width: 100%;
    }
}


.spotify {
    min-height: 20.25rem
}

.spotify__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 5.0625rem;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.spotify__title--text {
    color: #fff;
    font-size: 2.375rem;
    font-weight: 700;
    letter-spacing: .005rem;
    line-height: 3.375rem;
    text-transform: uppercase;
    padding-left: .96125rem
}

.spotify__title--text p {
    margin: 0
}

.spotify__title--left-logo img:last-of-type {
    padding-left: .533125rem
}

.spotify__title--left-logo--banner img {
    width: .6rem !important;
    opacity: 1 !important
}

.spotify__title--left-logo--banner img:first-child {
    width: .42rem !important
}

.spotify__title--left-logo--banner img:last-child {
    width: 2.1rem !important
}

.spotify__title--banner {
    padding-top: 0;
    position: absolute;
    top: -130%
}

.spotify__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    line-height: 1.4375rem;
    padding-top: .75rem;
    margin-left: -1.125rem;
    font-size: 1rem;
    letter-spacing: .00125rem
}

.spotify__description--bold {
    font-weight: 700
}

.spotify__description--banner {
    position: absolute;
    top: -70%
}

.spotify__player {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 1.323125rem;
    padding-left: 1.875rem
}

.spotify__player--right-buttons {
    padding-left: .95875rem
}

.spotify__player--right-buttons--tracks img {
    padding-right: 4px
}

.spotify__player--right-buttons--tracks img:last-of-type {
    padding-right: 0;
    padding-left: 15px
}

@media screen and (min-width: 1024px) {
    .spotify {
        display: none
    }
}

.banner__spotify:hover {
    background: url(https://images.squarespace-cdn.com/content/659ffd5acc33bf3dd5158e2d/0e4b135e-a205-484f-ae24-14f7f5661afd/2024GillWhiteYoga.png);
    background-size: cover;
    background-position: center;
    width: 40.625rem;
    height: 40.625rem;
    right: -15.625rem;
    bottom: -5%;
    background-size: 100%
}

.banner__spotify:hover img {
    opacity: 0
}

.banner__spotify:hover #spotify {
    position: absolute;
    top: 43%;
    left: 10%;
    display: block
}

.banner__spotify {
    -webkit-box-shadow: 5px 5px 30px 27px rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 30px 27px rgba(0, 0, 0, .2);
    background-image: url(https://images.squarespace-cdn.com/content/659ffd5acc33bf3dd5158e2d/d51845c4-ae7f-4b6b-8b68-3b943890ef3b/s-download.png?content-type=image%2Fpng);
    background-size: 250%;
    background-position-x: center;
    background-position-y: 38%;
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    -webkit-transition: width .6s, height .6s, bottom .6s, right .6s;
    transition: width .6s, height .6s, bottom .6s, right .6s;
    bottom: 8%;
    right: 2%;
    position: absolute;
    z-index: 10;
}

.firstNew-outer {
    position: relative;
}

@media screen and (min-width: 1920px) {
    .banner__spotify {
        width: 7.5rem;
        height: 7.5rem;
        bottom: 4%;
        right: 4%;
        position: absolute;
    }
}

.banner__spotify #spotify {
    display: none
}

.banner__spotify img {
    width: 12rem;
    -webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out
}

.instructors-inner-slider .owl-item {
    height: 100%;
}

.instructors-inner-slider .owl-item img {
    height: 450px;
    object-fit: cover;
    object-position: 0 33%;
}

.instructors-inner-slider button {
    background: transparent;
    border: unset;
    position: absolute;
    top: 50%;
    margin-top: -50px !important;
    color: #fff;
    font-size: 80px;
}

.instructors-inner-slider button.owl-next {
    left: unset;
    right: 0;
}

.inst-linked a {
    position: absolute;
    right: -20%;
    top: 20%;
    color: #fff;
    transform: rotate(90deg);
    font-size: 1.375rem;
    text-transform: uppercase;
    z-index: 2;
    width: auto;
    height: auto;
}

.inst-linked {
    position: relative;
}

@media screen and (min-width: 1481px) {
    .inst-linked a {
        right: -12%;
        top: 18%;
    }
}

@media screen and (max-width: 1480px) {
    .inst-linked a {
        right: -15%;
        top: 20%;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1024px) {
    .prog-pages {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 480px) {
    .vibe-slider .owl-nav .owl-next {
        right: -35px;
    }

    .inst-linked a {
        right: -10%;
        top: 15%;
    }

    body .header-menu-nav {
        background-size: 50%;
        background-position: center;
    }

    body .header-menu-nav-folder .header-menu-cta {
        flex-wrap: wrap;
        margin: 0 30px 80px;
    }

    body .header-menu-nav-folder .header-menu-cta a {
        margin-bottom: 10px;
        margin-left: 20px;
        max-width: 100% !important;
        width: 100%;
    }

    body .header-menu-nav-folder .header-menu-cta a:nth-child(2) {
        margin-left: 20px;
    }

    .site-wrapper .header-menu .header-menu-nav a:not(.btn) {
        margin-left: 20px;
    }

    .social-accounts .header-menu-actions-action:first-child .icon {
        margin-left: 0 !important;
    }
}

.firstNew-inner .owl-dots {
    display: none !important;
}

.user-accounts-link {
    display: none;
}

.form-field-style-outline .sqs-block-form .form-item input:not([type="checkbox"]):not([type="radio"]):hover,
.form-field-style-outline .sqs-block-form .form-item textarea:hover,
.form-field-style-outline .sqs-block-form .form-item .file-display:hover,
.form-field-style-outline .sqs-block-form .form-item select:hover,
.form-field-style-outline .sqs-block-form .form-item input:not([type="checkbox"]):not([type="radio"]):focus,
.form-field-style-outline .sqs-block-form .form-item textarea:focus,
.form-field-style-outline .sqs-block-form .form-item .file-display:focus,
.form-field-style-outline .sqs-block-form .form-item select:focus {
    background-color: hsla(230, 32.14%, 10.98%, 0.12) !important;
}

.user-accounts-link.header-menu-nav-item {
    display: none !important;
}
